{% extends "base.html"%}
{% block content%}

<div class="m-auto col-md-4 bg-white mt-4 p-4 bordered shadow">
    <div class=" text-danger text-center">{{msg}}</div>
    <h5>Login Here</h5>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Enter username" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Enter password" class="form-control" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control"> Login</button>
        </div>
        <div class=" form-group mt-2"> <a href="/signup" class="btn btn-info form-control"> Create a new account</a></div>


    </form>
    <hr>

<div class="m-auto w-28 bg-white">
    <a href="/signup"> Don't have a Account ?</a>
</div>

</div>

{% endblock%}